[Desktop Entry]
Name=particle2
Exec=./qtc_device_debughelper.py app "qmlscene %U Main.qml"
Icon=particle2.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true

